:root {
    --maximum-yellow-red: #ffbc42ff;
    --magnolia: hsla(290, 2%, 96%, 1);
    --davys-grey: hsla(0, 1%, 28%, 1);
}

*{
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana;
    background-color: var(--maximum-yellow-red);
}

section{
    height: 80vh;
    width: 100%;
 
    /*
    border-color: hsla(290, 2%, 96%, 1);
    border-style: solid;*/
}

.navbar-footer{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    
    /* border-color: pink;
    border-style: solid; */
}

.nav-links{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;

    /*
    border-color: cyan;
    border-style: solid;*/
}

a{
    text-decoration: none;
    color: var(--davys-grey);
    letter-spacing: 2px;
    font-weight: bold;
}


footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5vh;
}

p{
    color: var(--davys-grey);
    font-size: 8px;
}
